<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-danger">
        <h3 id="status" class="w-100">not connected</h3>
        <button class="btn btn-danger m-2" id="connect" onclick="send()">Connect</button>
        <button class="btn btn-danger m-2" id="start_game" onclick="startGame()">StartGame</button>
        <button class="btn btn-danger m-2" id="start_question" onclick="startQuestion()">StartQuestion</button>
        <button class="btn btn-danger m-2" id="end_game" onclick="endGame()">EndGame</button>
    </nav>
    <div id="content">
        <!-- will be injected -->
    </div>
    <script src="admin.js"></script>
</body>
</html>