<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Client page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-danger">
        <h3 id="status" class="w-100">not connected</h3>
        <input id="name" class="form-control" type="text" placeholder="nickname"/>
        <button class="btn btn-danger m-2" id="connect" onclick="send()">Connect</button>
    </nav>
    <div id="question_input">
        <form>
            <h2>Enter the question result</h2>
            <input type="text" class="form-control" id="answer" placeholder="answer"/>
            <button class="btn btn-danger m-2" id="submit" type="button" onclick="sendAnswer()">Submit</button>
        </form>
    </div>
    <div id="content">
        <!-- will be injected -->
    </div>
    <script src="client.js"></script>
</body>
</html>